
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

.sony{
    background-color: black;
    height: 35px;
    text-align: end;

}

.sony img{
    height: 15px;
    margin: 10px;
}

.navbar{
    height: 80px;
    background-color: grey;
   
}


/* second jumbo */

/* .new_games{
    background-color: black;
} */


.sony_footer_logo{
    width: 100px;
}

.social_media .row{
    max-width: 500px;
    margin: 0 auto;

}